*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* this is the styling for featured page*/
main{
background-color: black;
} 

.previous{
    display: flex;
    background-color: rgb(45, 45, 45);
    width: 100%;
    gap: 20px;
    padding: 15px 0 15px 0;
    justify-content: center;
    cursor: pointer;
}

.previous span{
    color: white;
}
.container{
height: 450px; 
width: 310px;
margin: 20px;
padding: 10px;
background-color: rgb(39, 39, 39); 
cursor: pointer;
}

.image-cover img{
    width: 279px;
    height: 223px;
}

.code{
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: rgb(43, 148, 189);
    width: 60px;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 5px 0 5px 0;
}

.pimpic{
    display: flex;
}

.pimpic img{
 width: 60px;
 height: 20px;
}
.gift{
    display: flex;
    background-color: rgb(94, 93, 93);
    padding: 8px;
    justify-content: space-around;
    color: white;
    margin-top: 20px;   
}

.fork{
    display: flex;
    gap: 10px;       
}

.seen{
    display: flex; 
    gap: 10px;
    border-left: 1.5px solid gray; 
    
}  

.starred{
    display: flex;
    gap: 10px;
    border-left: 1.5px solid gray; 
}
.content h2{
    color: white;
}

.content p{
    color: rgb(138, 134, 134);
}
.parent-container{
    display: flex;
    margin: auto;
    justify-content: center;
}


